body {
	font-size: 12px;
}

ul {
	width: 120px;
	display: block;
}

iframe {
	width: 800px;
	height: 600px;
}

.container {
	padding: 20px;
}

.menu {
	display: block;
	float: left;
	width: 150px;
}

.task {
	display: block;
	height: 50px;
	font-size: 20px;
}

.user-questions {
	font-family: sans-serif;
	font-size: 20px;
}

#menu1 {
	display: none;
}

#menu2 {
	display: none;
}

#menu3 {
	display: none;
}

li a {
	display: block;
	cursor: pointer;
}